.acordeon{
    .MuiPaper-elevation1{
        box-shadow: none;
    }
    .MuiPaper-elevation1>div{
        border-bottom: 1px solid #E4E8F7;
        border-radius: 0;
        &.MuiCollapse-container{
            border-bottom: 2px dotted transparent;
        }
    }
    .grid-total{
        border-top: 2px dotted #E4E8F7;;
    }
    .makeStyles-heading-123 {
        flex-basis: 61.33%;
    }
}

.acordeon-title{
    .MuiGrid-spacing-xs-3 > .MuiGrid-item{
        padding:0
    }
    .MuiPaper-elevation1{
        box-shadow: none;
    }
    h3{
        font-size: 20px;
        color: #494f66;
        line-height: 30px;
        font-weight: 100;
        b{
            font-weight: 400;
    color: #ef3340;
        }
    }
}