
*{
    font-family: 'Roboto'
}

.home__logo{
    position: relative;
    z-index: 2;
    height: 60px;
    img{
        width: 89px;
        height: 16px;
        margin: 20px;
    }
}

.home .bg-left {
    width: 100%;
    z-index: -1;
    min-height: 416px;
    background: #ef3340;
    position: absolute;
    overflow: hidden;
    border-radius: 0 0 50px 0;
    transform: skew(0,
3deg
);
    -webkit-transform: skew(0,
3deg
);
    -ms-transform: skew(0,3deg);
    -o-transform: skew(0,3deg);
    -moz-transform: skew(0,3deg);
    top: -15px;
}

@media only screen and (min-width: 1024px){
    .home .bg-left {
        display: block;
        width: 55%;
        height: 100vh;
        left: -48px;
        top: 0;
        transform: skew(
    -2deg
    ,0);
        -webkit-transform: skew(
    -2deg
    ,0);
        -ms-transform: skew(-2deg,0);
        -o-transform: skew(-2deg,0);
        -moz-transform: skew(-2deg,0);
    }
}


.home__img {
    width: 27.027027027%;
    position: relative;
    z-index: 2;
    display: none;
    vertical-align: top;
}

@media only screen and (min-width: 1024px){
    .home__img {
        display: inline-block;
    }
}

.home__img img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 1024px){
    .home__form {
        width: 24.3243243243%;
        margin-left: 5.4054054054%;
        margin-right: 5.4054054054%;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px){
    .home__container {
        margin-top: 4px;
        border-top: 1px solid #e4e8f7;
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

@media only screen and (min-width: 768px){
    .title-white h1 {
        font-size: 48px;
        line-height: 125%;
        letter-spacing: -.6px;
        color: #fff;
        margin-bottom: 36px;
    }
}

.title-white p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2px;
    font-family: Roboto,sans-serif;
    margin-bottom: 32px;
    display: none;
}

.hide-desktop {
    display: block;
}

@media only screen and (min-width: 1024px){
    .hide-desktop {
        display: none;
    }
}



.home__beneficios ul li {
    display: block;
    color: #fff;
    list-style: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
    font-family: Roboto,sans-serif;
    display: flex!important;
    flex-flow: column;
    align-items: flex-start;
    span {
        color: #fff;
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        max-width: 80%;
        margin-top: 4px;
        margin-left: 4px;
    }
}

@media only screen and (min-width: 768px){
    .home__beneficios ul li {
        flex-flow: wrap;
        text-transform: none;
        font-weight: 300;
        line-height: 28px;
        font-size: 16px;
        font-family: Roboto,sans-serif;
        display: flex;
        align-items: flex-start;
        span {
            font-size: 16px;
            line-height: 24px;
            width: auto;
            text-transform: none;
            margin-top: 0;
            margin-left: 8px;
            font-family: Roboto,sans-serif;
            min-width: 276px;
            font-weight: 300;
            margin-right: 0;
            display: inline;
        }
    }
}

@media only screen and (min-width: 768px){
    .hide-tablet-on-down, .hide-tablet-on-up {
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    .hide-tablet-on-down {
        display: block;
    }
}

.home__form {
    p {
        margin-bottom: 24px;
        margin-top: 0;
    }
    h2 b {
        font-weight: 400;
        color: #ef3340;
    }
    .sub-title, .home__form p {
        font-family: Roboto,sans-serif;
        font-weight: 300;
        line-height: 28px;
        color: #676f8f;
        font-size: 16px;
    }
    .doc {
        width: 28.5714285714%;
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        select {
            border-radius: 4px 0 0 4px;
            color: #494f66;
        }
    }
    select {
        border-right: 0;
    }
    .num {
        width: 71.4285714286%;
        display: inline-block;
        vertical-align: top;
    }
    .terminos {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .checkbox {
        margin-bottom: 20px;
        text-align: left;
    }
}


@media only screen and (min-width: 1024px){
    .home__form .checkbox {
        margin-bottom: 0!important;
    }
}

.w100 {
    width: 100%;
}

b, strong {
    font-weight: bolder;
}

.input-field {
    position: relative;
    margin-top: 5px;
    min-height: 64px;
    width: 100%;
    select {
        width: 100%;
        height: 56px;
        border: 1px solid #d4d5e8;
        border-radius: 4px;
        color: #a9b1d1;
        font-size: 16px;
        padding-left: 14px;
    }
    label {
        color: #a9b1d1;
        position: absolute;
        bottom: 42%;
        left: 16px;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        cursor: text;
        transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        text-align: left;
        text-align: initial;
    }
}

button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
select {
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 4px 0 0 4px;
    //background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.102 1.548l3.642 3.354c.068.063.16.098.256.098a.378.378 0 00.256-.098l3.642-3.354A.306.306 0 009 1.323a.308.308 0 00-.112-.234.386.386 0 00-.502.009L5 4.215 1.614 1.098a.386.386 0 00-.502-.01.301.301 0 00-.01.46z' fill='%23EF3340' stroke='%23EF3340' stroke-width='.8'/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: 90%;
    background-position-x: calc(100% - 8px);
    background-size: 10px;
}


.home__form .num input {
    border-radius: 0 4px 4px 0;
}
.input-field input[type=date], .input-field input[type=email], .input-field input[type=number], .input-field input[type=text] {
    color: #494f66;
    border: 1px solid #d4d5e8;
    width: 100%;
    height: 56px;
    padding-left: 16px;
    padding-top: 16px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    box-shadow: none;
    box-sizing: border-box;
    transition: box-shadow .3s,border .3s;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    -webkit-text-fill-color: #494f66;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.checkbox p {
    display: flex;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox input[type=checkbox]+p label {
    display: inline-block;
    cursor: pointer;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .2px;
    color: #a3abcc;
    &:before {
        content: "";
        border: 1px solid #d4d5e8;
        border-radius: 5px;
        margin-right: 10px;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 8px;
    }
}

.checkbox {
    .text, label {
        font-size: 12px;
        color: #676f8f;
    }
}

.link__check {
    font-family: Roboto;
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    color: #a3abcc;
    letter-spacing: .2px;
}


.home__form {
    .checkbox p, .home__form .checkbox p .link {
        font-family: Roboto;
        font-weight: 300;
        line-height: 20px;
        font-size: 12px;
        letter-spacing: .2px;
    }
    .checkbox p {
        font-style: normal;
        width: 100%;
        display: flex;
    }
    .sub-title, .home__form p {
        font-family: Roboto,sans-serif;
        font-weight: 300;
        line-height: 28px;
        color: #676f8f;
        font-size: 16px;
    }
    p {
        margin-bottom: 24px;
        margin-top: 0;
    }
}

.home__form .sub-title, .home__form p {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 28px;
    color: #676f8f;
    font-size: 16px;
}
.home__form p {
    margin-bottom: 24px;
    margin-top: 0;
}
.checkbox p {
    display: flex;
}

.btn-style, .btn__primary, .btn__primary--border, .btn__secondary, .btn__secondary--border, .btn__secondary:disabled {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    font-family: Lato,Arial,sans-serif;
    border-radius: 8px;
    display: inline-block;
    letter-spacing: .8px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    max-width: 360px;
    border: none;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 64px;
    padding: 15px 36px;
    transition: all .3s ease-in-out;
}

.btn__primary {
    background-color: #ef3340;
    color: #fff;
}

.home__logo .container .row .ad-buy {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .2px;
}

.legal{
    color: #FFD7DA;
    font-size: 12px;
}